@charset "utf-8";



/*----------------------------------------*/
/* [BASE SETTING] */

html{
    background: transparent;
    line-height: $font-baseLine;
}


body{
    font-family: $font-family;
    color: $font-baseColor;
    background-color: $body-color;
    -webkit-text-size-adjust: 100%;
}


img{
	width: 100%;
    vertical-align: bottom;

    @include mq($pcS){
    	width: auto;
    }
}


a, a img{
    outline: none;
}


::selection{

}




